<div style=" text-align: right;vertical-align: middle;height: 8px;background-color:#ffb500;"></div>
<div style="vertical-align: down;">
  <div
    style="text-align: right;vertical-align:down; background: #351C15; height: 94px; padding: 0 20px; font-family: Trebuchet MS;">
    <div style="float: left;"> <img src="assets/logo.gif" style="height:83px;padding-top:21px" /> </div>
    <div class="row" style="text-align:left;height:80px;color:whitesmoke;align-content: left;">
      <div class="col-md-1"></div>
      <div class="col-md-9"
        style="color: #FFFFFF; font-family: Trebuchet MS; font-size: 14pt; font-weight: bold; padding-top:7px;">
        Green Star Application </div>
      <div class="col-md-1" style="padding-top:27px;"> <button class="btn btn-lg btn-secondary" type="button"
        *ngIf="(checkFunction('student'))" (click)="logoutForm()">
          Logout</button> </div>
    </div>
  </div>
  <div style="vertical-align: middle; height: 8px; background: #B0917B;"></div>
</div>