<h3 style="color:blue">Please use below format to load data</h3>
<a download="GreenStarData" target="_blank" href="/assets/GreenStarData.xlsx">
Click here to download image</a><hr>
<h4 style="color:blue" >To upload data from Excel please follow below instructions</h4> 
<h5  style="color:blue">keep file in path below</h5>
<p style="color:darkcyan">C:\Project\</p><hr>
<h5 style="color:blue">The file name must be GreenStarData </h5>
<h5 style="color:blue">The file extension must be .xlsx </h5>
<h5 style="color:blue">Make sure while trying to access below path the file must be accessiable.</h5>
<p style="color:darkcyan">C:\Project\GreenStarData.xlsx</p>
<div class="col-md-1" style="padding-top:27px;"> <button class="btn btn-lg btn-secondary" type="button"
    (click)="ProcessExcelData()">
      Process Excel Data</button> </div>
