<form class="color-form" #colorForm="ngForm" (ngSubmit)="onSubmit(colorForm)">
  <input type="hidden" name="Id" #Id="ngModel" [(ngModel)]="colorService.selectedColor.Id">
    <div class="form-group">
      <input class="form-control" name="Name" #Name="ngModel" [(ngModel)]="colorService.selectedColor.Name"
        placeholder="Name" required>
      <div class="validation-error" *ngIf="Name.invalid && Name.touched">This Field is Required.</div>
    </div>
    <div class="form-group">
      <input class="form-control" name="Points" #Points="ngModel" [(ngModel)]="colorService.selectedColor.Points"
        placeholder="Points">
    </div>
  <div class="form-row">
    <div class="form-group col-md-8">
      <button [disabled]="!colorForm.valid" type="submit" class="btn btn-lg btn-block btn-info">
        <i class="fa fa-floppy-o"></i> Submit</button>
    </div>
    <div class="form-group col-md-4">
      <button type="button" class="btn btn-lg btn-block btn-secondary" (click)="resetForm(colorForm)">
        <i class="fa fa-repeat"></i> Reset</button>
    </div>
  </div>
</form>
